.player__control {
  @include flex(none, center);
  height: 85px;
  padding: 2px 41px 0 40px;
  background-color: $default-color;
}

.player__box {
  position: relative;
  height: 629px;
}

.player__image {
  @include image-cover;
}

.player__buttons {
  @include flex;
}

.player__play-button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.player__play-icon {
  width: 220px;
  height: 220px;
  fill: $main-color;
  transition: 0.1s;
  &:hover {
    transform: scale(1.05);
  }
  &:active {
    transform: scale(1);
  }
}

.player__button {
  margin-right: 40px;
  &:first-child {
    margin-right: 37px;
  }
  &:nth-child(2) {
    margin-right: 36px;
  }
  &:nth-child(3) {
    margin-right: 39px;
  }
  &:last-child {
    margin-right: 0;
  }
  &:hover .player__icon {
    fill: $player-hover-color;
  }
  &:active {
    transform: scale(0.9);
  }
}

.player__button--speaker {
  position: relative;
  margin-right: 19px;
  &::after {
    @include pseudo;
    top: -4px;
    left: 15px;
    width: 4px;
    height: 45px;
    transform: rotate(-45deg);
    background-color: $player-icon-color;
    opacity: 0;
    transition: background-color 0.3s, opacity 0.2s;
  }
  &.is-active::after {
    opacity: 1;
  }
  &:hover::after {
    background-color: $player-hover-color;
  }
}

.player__icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  fill: $player-icon-color;
  transition: fill 0.3s;
  &--speaker, &--full {
    width: 36px;
    height: 36px;
  }
}

.player__progress {
  height: 8px;
  -webkit-appearance: none;
  background: linear-gradient(to right, $range-color 0%, $range-color 50%, $player-progress-color 40%, $player-progress-color 100%);
  transition: background 0.4s ease-in;
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: $main-color;
    cursor: pointer;
  }
  &::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  &:focus {
    outline: none;
  }
}

.player__progress--rewind {
  width: 820px;
  margin-right: 40px;
}

.player__progress--volume {
  width: 154px;
  margin-right: 51px;
}