*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
  font-size: 1rem;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  background-color: #ffffff;
  color: #7a7a7a;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

p {
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
}
button:active {
  outline: none;
}

.container {
  max-width: 1024px;
  width: 95%;
  margin: 0 auto;
  padding: 20px 0;
}

.main {
  display: flex;
}

.column {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.column:first-child {
  background-color: #434343;
  flex-basis: 35%;
}
.column:last-child {
  flex-basis: 65%;
  padding: 2.25rem 0;
}

.section {
  width: 100%;
}

.title {
  position: relative;
  display: block;
  font-size: 1.875rem;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
}
.title::after {
  content: "";
  position: absolute;
  bottom: 18%;
  width: 70%;
  height: 2px;
  background-color: #ffffff;
}
.title--line::after {
  left: 0;
  bottom: -5%;
  width: 100%;
  background-color: #434343;
}
.title--bg {
  display: flex;
  align-items: center;
  width: 100%;
  height: 4.375rem;
  padding: 0 3.125rem;
  background-color: #3a478e;
}
.title--color {
  margin-bottom: 1.25rem;
  color: #434343;
}

.icon {
  width: 1.875rem;
  height: 1.875rem;
  fill: #ffffff;
}
.icon--telegram {
  width: 2.25rem;
  height: 2.25rem;
}

.text {
  color: #cbcccc;
}

.name {
  font-size: 1.25rem;
  font-weight: 500;
  color: #ffffff;
}
.name--color {
  color: #434343;
}
.name--up {
  margin-bottom: 0.4375rem;
  font-size: 1rem;
  text-transform: uppercase;
}

.avatar {
  width: 100%;
}

.avatar__image {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
}

.contact__list {
  padding: 2.25rem 3.125rem;
}

.contact__item {
  display: flex;
  margin-bottom: 1rem;
}
.contact__item:last-child {
  margin-bottom: 0;
}

.contact__icon {
  margin-right: 1.875rem;
  padding: 0.4375rem 0;
}

.contact__desc {
  align-self: flex-start;
}

.contact__link {
  transition: text-shadow 0.2s;
}
.contact__link:hover {
  text-shadow: 2px 2px 1px #000000;
}

.skills__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3fr 2fr;
  gap: 1rem 0;
  padding: 2.25rem 3.125rem;
}

.skills__name {
  position: relative;
  margin-bottom: 1.125rem;
  margin-left: 1rem;
}
.skills__name::before {
  content: "//";
  position: absolute;
  display: block;
  left: -1rem;
}

.skills__item {
  margin-bottom: 0.625rem;
}

.skills__box {
  height: 50%;
}

.social__list {
  padding: 2.25rem 3.125rem;
}

.social__item {
  margin-bottom: 1rem;
}

.social__link {
  transition: text-shadow 0.2s;
}
.social__link:hover {
  text-shadow: 2px 2px 1px #000000;
}

.portfolio__box {
  display: flex;
  padding: 2.25rem 3.125rem;
}

.portfolio__icon {
  margin-right: 1.875rem;
}

.portfolio__link {
  transition: text-shadow 0.2s;
}
.portfolio__link:hover {
  text-shadow: 2px 2px 1px #000000;
}

.header {
  position: relative;
  width: 100%;
  background-color: #3a478e;
  padding: 1.25rem 3.125rem;
}
.header::after {
  content: "";
  position: absolute;
  right: 4%;
  top: -24%;
  display: block;
  background-image: url("../../assets/img/html+css+js.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 130px 60px;
  width: 130px;
  height: 60px;
}

.header__title {
  font-size: 2.5rem;
  font-weight: 300;
  color: #ffffff;
}
.header__title span {
  margin-left: 0.625rem;
  font-weight: 700;
}

.header__text {
  font-size: 1.5rem;
  font-weight: 300;
  color: #ffffff;
}

.about {
  padding: 2.25rem 1.25rem 0rem 3.125rem;
}

.about__title {
  margin-bottom: 0.625rem;
  font-size: 1.625rem;
  font-weight: 700;
}

.about__text span {
  font-weight: 700;
}

.experience {
  padding: 2.25rem 1.25rem 0rem 3.125rem;
}

.experience__item {
  display: flex;
  margin-bottom: 1.25rem;
}

.experience__box:first-child {
  flex-basis: 33%;
}

.experience__box:last-child {
  flex-basis: 67%;
}

.experience__position {
  padding-top: 0.3125rem;
}

.experience__company {
  margin-bottom: 0.3125rem;
}

.experience__name {
  color: #434343;
}

.experience__date {
  white-space: nowrap;
}

.education {
  padding: 2.25rem 1.25rem 0rem 3.125rem;
}

.education__container {
  display: flex;
}

.education__box:first-child {
  flex-basis: 33%;
}

.education__box:last-child {
  flex-basis: 67%;
}

.education__major {
  padding-top: 0.3125rem;
}

.education__name {
  margin-bottom: 0.3125rem;
}

/*# sourceMappingURL=style.css.map */
