// Font

$mainFont: 'Roboto', Arial, sans-serif;

// Size

$mainFontSize            : 16;
$mainFontWeight          : 400;
$mainLineHeight          : 1.42;

// Main color

$main-color              : #ffffff;
$title-color             : #434343;
$text-color              : #a6a8aa;
$box-color               : #3a478e;