.card {
  display: block;
  width: 440px;
}

.card__top {
  height: 285px;
  margin-bottom: 25px;
}

.card__image {
  @include image-cover;
}

.card__title {
  position: relative;
  padding-bottom: 14px;
  margin-bottom: 21px;
  font-family: "Forum", "Times New Roman", Times, serif;
  @include font-source(32px, 400, $default-color, 35px);
  white-space: nowrap;
  letter-spacing: 2px;
  text-transform: uppercase;
  &::after {
    @include pseudo;
    bottom: 0;
    width: 300px;
    height: 2px;
    background-color: $dark-red-color;
  }
}

.card__desc {
  margin-bottom: 10px;
  @include font-source(22px, 200, $default-color, 26px);
}

.card__text {
  @include font-source(18px, 200, $default-color, 21px);
}