.explore {
  padding: 75px 0 74px;
  background-color: $bg-dark-color;
}

.explore__container {
  @include flex(space-between);
}

.explore__col {
  &:first-child {
    max-width: 660px;
  }
  &:last-child {
    max-width: 720px;
  }
}

.explore__col:last-child {
  padding-top: 16px;
}

.explore__text {
  margin-bottom: 27px;
  padding-right: 50px;
  @include font-source(22px, 300, $main-color, 38.5px);
  &:last-child {
    margin-bottom: 0;
    padding-right: 0;
  }
  & span {
    color: $font-gold-ticket-color;
  }
}

.explore__image {
  @include image-cover;
}