.explore {
  padding: 74px 0 75px;
  background-color: $bg-dark-color;
}

.explore__container {
  display: flex;
  justify-content: space-between;
}

.explore__title.border-line:before {
  width: 96%;
}

.explore__col {
  flex: 1;
  height: 715px;
}

.explore__col:first-child {
  margin-right: 7px;
}

.explore__col:last-child {
  padding-top: 16px;
}

.explore__text {
  margin-bottom: 27px;
  padding-right: 60px;
  @include font-source(22px, 300, $main-color, 38.5px);
  &:last-child {
    margin-bottom: 0;
  }
  & span {
    color: $font-cold-color;
  }
}

.explore__image {
  @include image-cover;
}