.form {
  @include flex(center, flex-start);
}

.form__column {
  height: 100%;
  &:first-child {
    flex-basis: 43.6%;
    margin-right: rem(40);
  }
  &:last-child {
    position: relative;
    flex-basis: 57%;
    padding: rem(25) rem(30);
    border: 1px solid $form-main-color;
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: rem(24);
      right: rem(26);
      width: rem(150);
      height: rem(120);
      background-image: url('./assets/img/form/form.png');
      background-size: rem(150) rem(120);
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
}

// Left column

// Type Date, Type Time

.form__box {
  @include flex(space-between, center);
  margin-bottom: rem(20);
}

input[type="date"], input[type="time"] {
  position: relative;
  width: rem(190);
  height: rem(45);
  @include font-source(rem(18), 400, $form-main-color, rem(21));
  border: 1px solid $form-main-color;
  &::before {
    content: attr(data-placeholder);
    width: rem(15);
    height: rem(22);
    padding-top: rem(2);
    padding-left: rem(44);
    background-position: rem(14) center;
    background-repeat: no-repeat;
  }
  &::after {
    content: '';
    position: absolute;
    top: rem(14);
    right: rem(13);
    width: rem(18);
    height: rem(18);
    background-image: url('./assets/svg/form/arrow.svg');
    background-size: rem(18) rem(18);
    background-position: center center;
    background-repeat: no-repeat;
  }
  &:focus-visible:after {
   transform: rotate(180deg);
  }
}

input[type="date"]::before {
  background-image: url('./assets/svg/form/date.svg');
  background-size: rem(15) rem(15);
}

input[type="date"] {
  &:focus {
    &::before {
      content: '';
    }
    &::-webkit-datetime-edit-text,
    &::-webkit-datetime-edit-month-field,
    &::-webkit-datetime-edit-day-field,
    &::-webkit-datetime-edit-year-field {
      opacity: 1;
    }
  }
}

input[type="time"] {
  &:focus {
    &::before {
      content: '';
    }
    &::-webkit-datetime-edit-hour-field,
    &::-webkit-datetime-edit-minute-field,
    &::-webkit-datetime-edit-ampm-field,
    &::-webkit-clear-button,
    &::-webkit-inner-spin-button {
      opacity: 1;
    }
  }
}

input[type="time"]::before {
  background-image: url('./assets/svg/form/time.svg');
  background-size: rem(15) rem(15);
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

input[type="date"]::-webkit-datetime-edit-text,
input[type="date"]::-webkit-datetime-edit-month-field,
input[type="date"]::-webkit-datetime-edit-day-field,
input[type="date"]::-webkit-datetime-edit-year-field {
  opacity: 0;
}

input[type="time"]::-webkit-datetime-edit-text {
  opacity: 0;
}

input[type="time"]::-webkit-datetime-edit-hour-field,
input[type="time"]::-webkit-datetime-edit-minute-field,
input[type="time"]::-webkit-datetime-edit-ampm-field,
input[type="time"]::-webkit-clear-button,
input[type="time"]::-webkit-inner-spin-button {
  opacity: 0;
}

// Type text

input[type="text"],
input[type="email"],
input[type="tel"] {
  position: relative;
  width: 100%;
  height: rem(45);
  padding-top: rem(2);
  padding-left: rem(43);
  border: 1px solid $form-main-color;
  &::-webkit-input-placeholder {
    @include font-source(rem(18), 400, $form-main-color, rem(21));
  }
}

.form__name label,
.form__email label,
.form__tel label {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    left: rem(16);
    top: 50%;
    transform: translateY(-50%);
    width: rem(13);
    height: rem(15);
    background-size: rem(13) rem(15);
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 1;
  }
}

.form__name label {
  &::after {
    background-image: url('./assets/svg/form/name.svg');
  }
}

.form__email label {
  &::after {
    background-image: url('./assets/svg/form/email.svg');
  }
}

.form__tel label {
  &::after {
    left: rem(14);
    width: rem(18);
    height: rem(22);
    background-size: rem(18) rem(22);
    background-image: url('./assets/svg/form/tel.svg');
  }
}

.form__name,
.form__email,
.form__tel,
.form__select {
  margin-bottom: rem(20);
}

// Type entry

.form__entry {
  padding: rem(10) rem(15) 0;
  border: 1px solid $form-main-color;
}

.form__entry_box {
  margin-bottom: rem(14);
  @include flex(space-between,center);
  &:nth-child(2) {
    margin-bottom: rem(19);
  }
}

.form__entry_title {
  margin-bottom: rem(22);
  font-family: "Forum", "Times New Roman", Times, serif;
  @include font-source(rem(18), 400, $gold-color, rem(20));
  &.border-line {
    &::before {
      height: rem(2);
    }
  }
}

.form__entry_text {
  @include font-source(rem(18), 400, $form-main-color, rem(21));
}

.form__entry_count {
  @include flex(space-between, center);
  width: rem(105);
  height: rem(24);
  padding: rem(2) rem(8) 0 rem(11);
  background-color: $form-main-color;
  border-bottom: 1px solid $form-main-color;
}

.form__entry_buttons {
  cursor: pointer;
  &--plus {
    padding-right: rem(2);
    padding-top: rem(2);
  }
}

.form__entry_icon {
  width: rem(12);
  height: rem(14);
  stroke: $main-color;
  transition: stroke 0.3s;
}

.form__entry_value {
  position: relative;
  top: rem(-1);
  height: rem(22);
  width: rem(35);
  text-align: center;
  @include font-source(rem(18), 300, $form-main-color, rem(21));
  background-color: $main-color;
  border: 0;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

// Type Select

.form__select {
  position: relative;
  width: 100%;
  height: rem(45);
  &[data-state="active"] {
    .form__select_title {
      &::before {
        transform: translate(1px, -50%) rotate(-180deg);
      }
    }
    .form__select_content {
      opacity: 1;
    }
    .form__select_label + .form__select_input + .form__select_label {
      max-height: rem(40);
      border-top-width: 1px;
    }
  }
}

.form__select_title {
  @include flex(none, center);
  width: 100%;
  height: 100%;
  padding-left: rem(45);
  border: 1px solid $form-main-color;
  cursor: pointer;
  &::before, &::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 1;
  }
  &::before {
    right: rem(14);
    width: rem(17);
    height: rem(17);
    background-image: url('./assets/svg/form/arrow.svg');
    background-size: rem(17) rem(17);
  }
  &::after {
    left: rem(16);
    width: rem(15);
    height: rem(15);
    background-image: url('./assets/svg/form/select.svg');
    background-size: rem(15) rem(15);
  }
}

.form__select_content {
  position: absolute;
  top: rem(45);
  left: rem(3);
  @include flex(none, none, column);
  width: calc(100% - rem(6));
  background-color: $main-color;
  border: 1px solid $form-main-color;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: all 0.3s ease-out;
  opacity: 0;
  z-index: 8;
}

.form__select_input {
  display: none;
  &:checked + label {
    background-color: $option-checked-color;
  }
  &:disabled + label {
    opacity: 0.6;
    pointer-events: none;
  }
}

.form__select_label {
  display: flex;
  align-items: center;
  width: 100%;
  height: rem(40);
  max-height: 0;
  padding: 0 rem(16);
  transition: all 0.2s ease-out;
  cursor: pointer;
  overflow: hidden;
  &:hover {
    background-color: $option-hover-color !important;
  }
}

// Right column

.form__overview {
  margin-bottom: rem(3);
  @include font-source(rem(32), 500, $form-overview-color, rem(37));
}

.form__tour {
  margin-bottom: rem(10);
  @include font-source(rem(22), 500, $form-tour-color, rem(26));
}

.form__info {
  position: relative;
  margin-bottom: rem(6);
  padding-left: rem(29);
  @include font-source(rem(18), 300, $form-main-color, rem(21));
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: rem(-2);
    width: rem(17);
    height: rem(17);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: rem(17) rem(17);
    z-index: 1;
  }
  &--date::before {
    background-image: url('./assets/svg/form/date.svg');
  }
  &--time::before {
    background-image: url('./assets/svg/form/time.svg');
  }
  &--select::before {
    background-image: url('./assets/svg/form/bird.svg');
  }
  &--select {
    margin-bottom: rem(22);
  }
}

.form__data {
  margin-bottom: rem(10);
}

.form__basic_info:nth-child(2).border-line::before {
  bottom: -43%;
  height: rem(2);
}

.form__basic_info {
  display: block;
  @include flex(none, center);
  margin-bottom: rem(5);
}

.form__number {
  display: block;
  width: rem(32);
  height: rem(20);
  margin-right: rem(10);
  text-align: center;
  @include font-source(rem(18), 400, $form-border-color, rem(21));
  background-color: $form-main-color;
  border-radius: 5px;
}

.form__price {
  @include font-source(rem(22), 400, $form-main-color, rem(26));
}

.form__count {
  margin-left: auto;
  @include font-source(rem(22), 400, $form-main-color, rem(26));
}

.form__total {
  @include flex(none, center);
  margin-top: rem(22);
}

.form__total_text {
  @include font-source(rem(32), 400, $form-main-color, rem(37));
}

.form__total_count {
  margin-left: auto;
  @include font-source(rem(32), 500, $form-main-color, rem(37));
}

.form__card {
  position: relative;
  margin-bottom: rem(55);
}

.form__card_front {
  position: relative;
  width: 77%;
  padding: rem(15) rem(19);
  background-color: $card-font-color;
  border-radius: 5px;
  z-index: 1;
  &::before, &::after {
    content: '';
    position: absolute;
    right: rem(20);
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
  }
  &::before {
    top: rem(34);
    width: rem(55);
    height: rem(16);
    background-image: url('./assets/img/form/visa.png');
    background-size: rem(55) rem(16);
  }
  &::after {
    top: rem(65);
    width: rem(53);
    height: rem(32);
    background-image: url('./assets/img/form/mastercard.png');
    background-size: rem(53) rem(32);
  }
}

.form__card_number label,
.form__card_date label,
.form__card_name label {
  display: block;
  margin-bottom: rem(5);
  @include font-source(rem(12), 400, $card-text-color, rem(14));
}

.form__card_name label {
  margin-bottom: rem(4);
}

.form__card_number {
  @include flex(none, none, column);
  margin-bottom: rem(10);
}

.form__card_number input {
  width: rem(215);
  height: rem(35);
  padding-left: rem(10);
  border: 1px solid $form-border-color;
  &:focus-visible {
    outline: none;
  }
}

.form__card_date {
  margin-bottom: rem(10);
}

.form__card_date input {
  position: relative;
  display: inline-block;
  width: rem(100);
  height: rem(35);
  padding-left: rem(10);
  border: 1px solid $form-border-color;
  -moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    display: none;
  }
  &:focus-visible {
    outline: none;
  }
}

.form__card_month,
.form__card_year {
  position: relative;
  display: inline-block;
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: rem(32);
    height: rem(34);
    width: rem(1);
    background-color: $form-border-color;
  }
}

.form__card_month {
  margin-right: rem(10);
}

.form__card_name input {
  height: rem(36);
  padding-left: rem(10);
  border: 1px solid $form-border-color;
  &:focus-visible {
    outline: none;
  }
}

.form__card_down,
.form__card_up {
  position: absolute;
  display: block;
  right: rem(12);
  width: rem(8);
  height: rem(6);
  background-image: url('./assets/svg/form/arrow-card.svg');
  background-size: rem(8) rem(6);
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
  cursor: pointer;
}

.form__card_down {
  bottom: rem(10);
}

.form__card_up {
  transform: rotate(180deg);
  top: rem(10);
}

.form__card_back {
  position: absolute;
  top: rem(30);
  right: rem(-3);
  width: 77%;
  height: rem(211);
  background-color: $card-back-color;
  border-radius: 5px;
  &::after {
    content: '';
    position: absolute;
    top: rem(24);
    display: block;
    width: 100%;
    height: rem(45);
    background-color: $card-text-color;
  }
}

.form__card_cvv {
  position: absolute;
  right: rem(20);
  top: rem(86);
}

.form__card_cvv label {
  display: block;
  margin-bottom: rem(5);
  text-align: center;
  @include font-source(rem(12), 400, $card-text-color, rem(14));
}

.form__card_cvv input {
  width: rem(75);
  height: rem(35);
  padding-left: rem(10);
  border: 1px solid $form-border-color;
  &:focus-visible {
    outline: none;
  }
}

.form__card_text {
  position: absolute;
  top: rem(146);
  right: rem(19);
  width: rem(65);
  @include font-source(rem(10), 400, $card-text-color, rem(12));
}

.form__button {
  position: relative;
  display: block;
  padding: rem(9) rem(84);
  margin-left: auto;
  @include font-source(rem(22), 400, $main-color, rem(26));
  background-color: $dark-red-color;
  cursor: pointer;
  transition: background-color 0.2s;
  overflow: hidden;
  // &:hover {
  //   background-color: $gold-color;
  // }
  &:focus {
    outline: none;
  }
}

.form__button .circle {
  position: absolute;
  background-color: #fff;
  width: rem(100);
  height: rem(100);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: scale 0.5s ease-out;
}

@keyframes scale {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}