.logo {
  margin-right: rem(20);
  &:hover .logo__text {
    color: $gold-color;
  }
  &:hover .logo__icon {
    fill: $gold-color;
  }
  &--form {
    margin-right: 0;
    margin-bottom: rem(72);
  }
}

.logo__title{
  display: inline-block;
  margin: 0;
  font-family: "Forum", "Times New Roman", Times, serif;
  @include font-source(rem(28), 400, $main-color, rem(50));
  letter-spacing: 5px;
  text-transform: uppercase;
  transition: all 0.3s;
  &--form {
    display: block;
    margin-bottom: rem(14);
    @include font-source(rem(50), 400, $gold-color, rem(55));
    letter-spacing: 0;
    white-space: nowrap;
  }
}

.logo__icon {
  width: rem(49);
  height: rem(26);
  margin-right: rem(21);
  fill: $main-color;
  transition: all 0.3s;
  &--form {
    width: rem(85);
    height: rem(41);
    margin-right: 0;
    margin-bottom: rem(-6);
    fill: $gold-color;
  }
}

.logo__text {
  @include font-source(rem(18), 400, $dark-red-color, rem(21));
  &.border-line::before {
    bottom: -55%;
  }
}