.player__control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  padding: 0 40px;
  background-color: $default-color;
}

.player__box {
  position: relative;
  height: 629px;
}

.player__image {
  @include image-cover;
}

.player__buttons {
  display: flex;
}

.player__play-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.player__icon {
  width: 30px;
  height: 30px;
  margin-right: 40px;
  cursor: pointer;
  fill: $player-icon-color;
  transition: fill 0.3s;
  &:last-child {
    margin-right: 0;
  }
  &--speaker {
    margin-right: 20px;
  }
  &:hover {
    fill: $player-hover-color;
  }
}

.player__progress,
.player__volume {
  height: 8px;
  -webkit-appearance: none;
  background-color: $range-color;
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: $main-color;
    cursor: pointer;
  }
  &::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  &:focus {
    outline: none;
  }
}

.player__progress {
  width: 820px;
  margin-right: 40px;
}

.player__volume {
  margin-right: 48px;
}