.player__control {
  display: flex;
  align-items: center;
  height: 85px;
  padding: 2px 41px 0 41px;
  background-color: $default-color;
}

.player__box {
  position: relative;
  height: 629px;
}

.player__image {
  @include image-cover;
}

.player__buttons {
  display: flex;
}

.player__play-button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.player__play-icon {
  width: 220px;
  height: 220px;
  fill: $main-color;
  transition: 0.1s;
  &:hover {
    transform: scale(1.05);
  }
  &:active {
    transform: scale(1);
  }
}

.player__button {
  margin-right: 40px;
  &:first-child {
    margin-right: 37px;
  }
  &:nth-child(2) {
    margin-right: 36px;
  }
  &:nth-child(3) {
    margin-right: 39px;
  }
  &:last-child {
    margin-right: 0;
  }
  &--speaker {
    margin-right: 19px;
  }
}

.player__icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  fill: $player-icon-color;
  transition: fill 0.3s;
  &--speaker, &--full {
    width: 36px;
    height: 36px;
  }
  &:hover {
    fill: $player-hover-color;
  }
  &:active {
    &:active {
      transform: scale(0.9);
    }
  }
}

.player__progress,
.player__volume {
  height: 8px;
  -webkit-appearance: none;
  background-color: $range-color;
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: $main-color;
    cursor: pointer;
  }
  &::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  &:focus {
    outline: none;
  }
}

.player__progress {
  width: 820px;
  margin-right: 40px;
}

.player__volume {
  width: 154px;
  margin-right: 51px;
}