.social {
  display: flex;
  align-self: flex-end;
  padding-bottom: 14px;
}

.social__item {
  margin-right: 23px;
  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid $border-color;
  transition: transform 0.2s;
  &:hover {
    transform: scale(1.1);
  }
}

.social__icon {
  width: 24px;
  height: 24px;
}