.tickets {
  padding: rem(74) 0 rem(75);
}

.tickets__title {
  color: $gold-color;
}

.tickets__box{
  @include flex;
}

.tickets__image {
  @include image-cover;
}

.tickets__form {
  flex: 1;
  padding-left: rem(60);
  @include flex(none, none, column);
}

.tickets__content {
  @include flex(space-between);
}

.tickets__col-small {
  @include flex(flex-start, none, column);
  color: $main-color;
  &:first-child {
    margin-right: rem(20);
  }
}

.tickets__type, .tickets__amount {
  margin-bottom: rem(50);
  @include font-source(rem(28), 700, $default-color, rem(33));
}

.tickets__amount {
  margin-bottom: rem(26);
  margin-left: auto;
}

.tickets__radio {
  position: relative;
  display: block;
  margin-bottom: rem(25);
  @include font-source(rem(22), 300, $default-color, rem(26));
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tickets__radio > input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.tickets__radio > span {
  @include flex(none, center);
  position: relative;
  padding-left: rem(40);
  margin-left: rem(-2);
}

.tickets__radio > span::before {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  width: rem(20);
  height: rem(20);
  background-image: url("./assets/img/tickets/radio-button-unchecked.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: rem(20) rem(20);
}

.tickets__radio>input:checked+span::before{
  background-image: url("./assets/img/tickets/radio-button-checked.svg");
}

.tickets__basic,
.tickets__senior {
  margin-bottom: rem(14);
  @include font-source(rem(22), 300, $default-color, rem(26));
}

.tickets__count {
  @include flex(space-between, center);
  width: rem(150);
  height: rem(50);
  padding: rem(2) rem(8) 0 rem(11);
  margin-bottom: rem(11);
  border: 3px solid $default-color;
  &--bottom {
    margin-bottom: rem(50);
  }
}

.tickets__value {
  text-align: center;
  @include font-source(rem(22), 300, $default-color, rem(26));
  background-color: transparent;
  border: 0;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.tickets__buttons {
  cursor: pointer;
  &:hover .tickets__icon {
    stroke: $gold-color;
  }
  &:active {
    transform: scale(0.85);
  }
  &--plus {
    padding-right: rem(2);
    padding-top: rem(2);
  }
}

.tickets__icon {
  width: rem(20);
  height: rem(20);
  stroke: $default-color;
  transition: stroke 0.3s;
}

.tickets__price {
  margin-bottom: rem(60);
  @include font-source(rem(28), 700, $default-color, rem(33));
  letter-spacing: 1.65px;
}

.tickets__button {
  padding: rem(12) rem(37);
  margin-left: auto;
  @include font-source(rem(22), 300, $main-color, rem(26));
  letter-spacing: 2px;
  background-color: $default-color;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  &:hover {
    color: $default-color;
    background-color: $gold-color;
  }
  &:active {
    transform: scale(0.99);
  }
}