.tickets {
  padding: 74px 0 75px;
  background-color: $default-color;
}

.tickets__box{
  display: flex;
}

.tickets__image {
  @include image-cover;
}

.tickets__col {
  display: flex;
  flex-direction: column;
  height: 550px;
}

.tickets__col:last-child {
  padding-left: 62px;
  flex: 1;
}

.tickets__content {
  display: flex;
  justify-content: space-between;
}

.tickets__col-small {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: $main-color;
}

.tickets__type, .tickets__amount {
  margin-bottom: 50px;
  @include font-source(28px, 700, $main-color, 33px);
}

.tickets__amount {
  margin-bottom: 12px;
  margin-left: auto;
}

.tickets__radio {
  position: relative;
  display: block;
  margin-bottom: 49px;
  @include font-source(22px, 300, $main-color, 26px);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tickets__radio > input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.tickets__radio > span {
  position: relative;
  align-items: center;
  display: inline-flex;
  padding-left: 40px;
}

.tickets__radio > span::before {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 10px;
  background-image: url("./assets/img/tickets/ellipse.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 17px 17px;
}

.tickets__radio>input:checked+span::before{
  background-image: url("./assets/img/tickets/ellipse-checked.png");
}

.tickets__basic, .tickets__senior {
  margin-bottom: 13px;
  @include font-source(22px, 300, $main-color, 26px);
}

.tickets__count {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  height: 50px;
  padding: 0 10px 0 13px;
  margin-bottom: 36px;
  border: 4px solid $main-color;
  &--bottom {
    margin-bottom: 51px;
  }
}

.tickets__value {
  text-align: center;
  @include font-source(22px, 300, $main-color, 26px);
  all: unset;
  width: 10px;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.tickets__buttons {
  all: unset;
  cursor: pointer;
  transition: color 0.3s;
  &--minus {
    font-size: 58px;
  }
  &--plus {
    font-size: 28px;
  }
  &:hover {
    color: $font-cold-color;
  }
  &:active {
    transform: scale(0.99);
  }
}

.tickets__price {
  margin-bottom: 48px;
  @include font-source(28px, 700, $main-color, 33px);
  letter-spacing: 1.65px;
}

.tickets__button {
  padding: 12px 35px;
  margin-left: auto;
  @include font-source(22px, 300, $default-color, 26px);
  letter-spacing: 2px;
  background-color: $main-color;
  cursor: pointer;
  transition: background-color 0.3s;
  &:hover {
    background-color: $font-cold-color;
  }
  &:active {
    transform: scale(0.99);
  }
}