.video {
  padding: 75px 0;
}

.video__content {
  @include flex;
  margin-bottom: 75px;
}

.video__title {
  margin-right: 113px;
  margin-bottom: 0;
  color: $font-gold-color;
  white-space: nowrap;
}

.video__text {
  padding-top: 8px;
  @include font-source(22px, 300, $default-color, 38px);
}