.video {
  padding: 90px 0 75px;
}

.video__content {
  @include flex;
  margin-top: 40px;
}

.video__title {
  margin-right: 115px;
  margin-bottom: 0;
  color: $font-gold-color;
  white-space: nowrap;
}

.video__text {
  padding-top: 8px;
  @include font-source(22px, 300, $default-color, 38px);
}