.video__content {
  display: flex;
  margin-top: 40px;
}

.video__title {
  margin-right: 115px;
  margin-bottom: 0;
  color: $font-cold-color;
  white-space: nowrap;
}

.video__text {
  @include font-source(22px, 300, $default-color, 38px);
}