.visiting__title {
  padding-bottom: 30px;
  margin-bottom: 103px;
  color: $font-cold-color;
  border-bottom: 3px solid $dark-red-color;
}

.visiting__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.visiting__item {
  margin-bottom: 78px;
  &:nth-child(4),
  &:nth-child(5),
  &:last-child {
    margin-bottom: 0;
  }
}