.welcome {
  padding: 0 0 273px;
  background-color: $bg-dark-color;
}

.welcome__container {
  position: relative;
}

.welcome__title {
  position: relative;
  padding-top: 122px;
  margin-bottom: 26px;
  z-index: 2;
}

.welcome__text {
  position: relative;
  margin-bottom: 74px;
  @include font-source(28px, 300, $main-color, 33px);
  letter-spacing: 2.2px;
  z-index: 2;
}

.welcome__button {
  display: inline-block;
  padding: 24px 68px;
  @include font-source(22px, 200, $main-color, 26px);
  letter-spacing: 2px;
  background-color: $dark-red-color;
  border-radius: 10px;
  transition: background-color 0.3s;
  &:hover {
    background-color: $font-gold-color;
  }
  &:active {
    transform: scale(0.99);
  }
}