*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  background-color: #ffffff;
  color: #000000;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

p {
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
}
button:active {
  outline: none;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1440px;
  width: 95%;
  margin: 0 auto;
  z-index: 1;
}

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.wrapper::after {
  content: "attr(data-el)";
  position: absolute;
  display: block;
  background-image: url("/custom-video-player/assets/img/background2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: contrast(40%) brightness(0.4);
}

.title {
  margin-bottom: 20px;
  font-family: "Style Script", cursive;
  font-size: 70px;
  color: #ffffff;
  text-shadow: 4px 2px 4px #000000;
  letter-spacing: 7px;
  text-transform: uppercase;
}

.player {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 7px 7px 14px 5px rgba(0, 0, 0, 0.8);
  width: 1200px;
}

.player__control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 85px;
  padding: 2px 41px 0 40px;
  background: #000000;
  background: linear-gradient(to top, #000000, #434343);
}

.player__video {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 550px;
}

.player__buttons {
  display: flex;
}

.player__bigplay {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.player__box {
  width: 50px;
}

.player__play-icon {
  width: 220px;
  height: 220px;
  fill: #ffffff;
  transition: 0.1s;
}
.player__play-icon:hover {
  transform: scale(1.05);
}
.player__play-icon:active {
  transform: scale(1);
}

.player__button {
  margin-right: 40px;
}
.player__button:first-child {
  margin-right: 37px;
}
.player__button:nth-child(2) {
  margin-right: 39px;
}
.player__button:nth-child(3) {
  margin-right: 39px;
}
.player__button:last-child {
  margin-right: 0;
}
.player__button:hover .player__icon {
  fill: #8a8a8a;
  stroke: #8a8a8a;
}
.player__button:active {
  transform: scale(0.9);
}

.player__button--speaker {
  position: relative;
  margin-right: 19px;
}
.player__button--speaker::after {
  content: "";
  display: block;
  position: absolute;
  top: -4px;
  left: 15px;
  width: 4px;
  height: 45px;
  transform: rotate(-45deg);
  background-color: #B3B3B3;
  opacity: 0;
  transition: background-color 0.3s, opacity 0.2s;
}
.player__button--speaker.is-active::after {
  opacity: 1;
}
.player__button--speaker:hover::after {
  background-color: #8a8a8a;
}

.player__button--download {
  margin-right: 25px;
}

.player__icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  fill: #B3B3B3;
  stroke: #B3B3B3;
  transition: 0.3s;
}
.player__icon--speaker, .player__icon--full, .player__icon--download {
  width: 36px;
  height: 36px;
}

.player__progress {
  height: 8px;
  -webkit-appearance: none;
}
.player__progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}
.player__progress::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.player__progress:focus {
  outline: none;
}

.player__progress--rewind {
  flex: 1;
  margin-right: 40px;
}

.player__progress--volume {
  margin-right: 25px;
}

.player__slider {
  width: 100%;
}

.player__slider-control {
  display: flex;
  width: 100%;
  height: 100px;
}

.player__slider-item {
  flex: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 1px solid #000000;
  filter: contrast(40%);
  cursor: pointer;
}
.player__slider-item--one {
  background-image: url("./assets/img/poster/poster1.png");
}
.player__slider-item--two {
  background-image: url("./assets/img/poster/poster2.png");
}
.player__slider-item--three {
  background-image: url("./assets/img/poster/poster3.png");
}
.player__slider-item--four {
  background-image: url("./assets/img/poster/poster4.png");
}
.player__slider-item--five {
  background-image: url("./assets/img/poster/poster5.png");
}
.player__slider-item:last-child {
  border-right: 0;
}
.player__slider-item.active {
  filter: contrast(100%);
  box-shadow: inset 2px 2px 0 0 #000000, inset -2px -2px 0 0 #000000;
}

.player__slide {
  flex-basis: 8%;
  cursor: pointer;
  background: #000000;
}
.player__slide .player__icon {
  width: 50px;
  height: 50px;
}
.player__slide--prev:hover {
  background: linear-gradient(to bottom, #000000, #434343);
}
.player__slide--next:hover {
  background: linear-gradient(to bottom, #000000, #434343);
}

.player__duration {
  display: flex;
  margin-right: 25px;
  color: #B3B3B3;
  font-size: 22px;
  font-weight: 500;
}

.player__duration-current::after {
  content: "-";
  margin-left: 8px;
}

.player__duration-total {
  margin-left: 8px;
}

/*# sourceMappingURL=style.css.map */
