.code {
  padding: rem(36) rem(20) rem(0) rem(50);
  @include media-mobile{
    padding: rem(36) 0 0;
  }
}

pre {
  display: flex;
  justify-content: center;
}

pre code {
  @include media-tablet {
    font-size: rem(14);
  }
}