.contact__list {
  padding: rem(36) rem(50);
}

.contact__item {
  @include flex;
  margin-bottom: rem(16);
  &:last-child {
    margin-bottom: 0;
  }
}

.contact__icon {
  margin-right: rem(30);
  padding: rem(7) 0;
}

.contact__desc {
  align-self: flex-start
}

.contact__link {
  transition: text-shadow 0.2s;
  &:hover {
    text-shadow: 2px 2px 1px $default-color;
  }
}