.experience {
  padding: rem(36) rem(20) rem(0) rem(50);
}

.experience__list {
  position: relative;
  padding-left: rem(34);
  &::before {
    @include line;
  }
}

.experience__item {
  position: relative;
  @include flex;
  margin-bottom: rem(20);
  &::before {
    @include circle;
  }
  @include media-tablet {
    display: block;
  }
}

.experience__box:first-child {
  flex-basis: 33%;
  @include media-tablet {
    margin-bottom: rem(10);
  }
}

.experience__box:last-child {
  flex-basis: 67%;
}

.experience__position {
  padding-top: rem(3);
}

.experience__company {
  margin-bottom: rem(5);
}

.experience__name {
  color: $title-color;
}

.experience__date {
  font-weight: 500;
  white-space: nowrap;
}