.portfolio__container{
  @include flex(center, none, column);
  padding: rem(36) rem(50);
  @include media-tablet {
    padding: rem(16) rem(30);
  }
}

.portfolio__box {
  @include flex(none, center);
  margin-bottom: rem(20);
}

.portfolio__icon {
  margin-right: rem(30);
}

.portfolio__link {
  transition: text-shadow 0.2s;
  &:hover {
    text-shadow: 2px 2px 1px $default-color;
  }
}

.portfolio__name {
  margin-bottom: rem(10);
}

.portfolio__item {
  margin-bottom: rem(10);
  padding: 0 rem(20);
}