.social__list {
  padding: rem(36) rem(50);
  @include media-tablet {
    padding: rem(16) rem(30);
  }
}

.social__item {
  margin-bottom: rem(16);
}

.social__link {
  transition: text-shadow 0.2s;
  &:hover {
    text-shadow: 3px 3px 2px $default-color;
  }
}