*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  background-color: #ffffff;
  color: #000000;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

p {
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  width: 95%;
}

section {
  padding: 60px 0;
}

.title {
  margin: 0;
  font-family: "Forum", "Times New Roman", Times, serif;
  font-size: 80px;
  font-weight: 400;
  color: #ffffff;
  line-height: 90px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/roboto-regular/Roboto-Regular.eot");
  src: local("Roboto Regular"), local("Roboto-Regular"), url("./assets/fonts/roboto-regular/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/roboto-regular/Roboto-Regular.woff2") format("woff2"), url("./assets/fonts/roboto-regular/Roboto-Regular.woff") format("woff"), url("./assets/fonts/roboto-regular/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/roboto-medium/Roboto-Medium.eot");
  src: local("Roboto Medium"), local("Roboto-Medium"), url("./assets/fonts/roboto-medium/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/roboto-medium/Roboto-Medium.woff2") format("woff2"), url("./assets/fonts/roboto-medium/Roboto-Medium.woff") format("woff"), url("./assets/fonts/roboto-medium/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/roboto-bold/Roboto-Bold.eot");
  src: local("Roboto Bold"), local("Roboto-Bold"), url("./assets/fonts/roboto-bold/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/roboto-bold/Roboto-Bold.woff2") format("woff2"), url("./assets/fonts/roboto-bold/Roboto-Bold.woff") format("woff"), url("./assets/fonts/roboto-bold/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/roboto-thin/Roboto-Thin.eot");
  src: local("Roboto Thin"), local("Roboto-Thin"), url("./assets/fonts/roboto-thin/Roboto-Thin.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/roboto-thin/Roboto-Thin.woff2") format("woff2"), url("./assets/fonts/roboto-thin/Roboto-Thin.woff") format("woff"), url("./assets/fonts/roboto-thin/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/roboto-light/Roboto-Light.eot");
  src: local("Roboto Light"), local("Roboto-Light"), url("./assets/fonts/roboto-light/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/roboto-light/Roboto-Light.woff2") format("woff2"), url("./assets/fonts/roboto-light/Roboto-Light.woff") format("woff"), url("./assets/fonts/roboto-light/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Forum";
  src: url("./assets/fonts/forum/Forum.eot");
  src: local("Roboto Regular"), local("Roboto-Regular"), url("./assets/fonts/forum/Forum.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/forum/Forum.woff2") format("woff2"), url("./assets/fonts/forum/Forum.woff") format("woff"), url("./assets/fonts/forum/Forum.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.card {
  display: block;
  width: 440px;
}

.card__top {
  width: 100%;
  margin-bottom: 25px;
}

.card__image {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.card__title {
  position: relative;
  padding-bottom: 14px;
  margin-bottom: 21px;
  font-family: "Forum", "Times New Roman", Times, serif;
  font-size: 32px;
  font-weight: 400;
  color: #000000;
  line-height: 35px;
  white-space: nowrap;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.card__title::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 300px;
  height: 2px;
  background-color: #710707;
}

.card__desc {
  font-size: 22px;
  font-weight: 200;
  color: #000000;
  line-height: 26px;
  margin-bottom: 10px;
}

.card__text {
  font-size: 18px;
  font-weight: 200;
  color: #000000;
  line-height: 21px;
}

.explore {
  background-color: #030303;
}

.explore__container {
  display: flex;
  justify-content: space-between;
}

.explore__col {
  flex: 1;
}

.explore__col:first-child {
  margin-right: 60px;
}

.explore__title {
  display: inline-block;
  padding-bottom: 36px;
  margin-bottom: 100px;
  border-bottom: 3px solid #710707;
}

.explore__text {
  margin-bottom: 25px;
  font-size: 22px;
  font-weight: 300;
  color: #ffffff;
  line-height: 38px;
}
.explore__text:last-child {
  margin-bottom: 0;
}
.explore__text span {
  color: #9d8665;
}

.explore__image {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.logo__text {
  font-family: "Forum", "Times New Roman", Times, serif;
  font-size: 28px;
  font-weight: 400;
  color: #ffffff;
  line-height: 50px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.logo__icon {
  width: 49px;
  height: 26px;
  margin-right: 20px;
}

.menu__list {
  display: flex;
  align-items: center;
}

.menu__item {
  margin-right: 76px;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  font-size: 22px;
  font-weight: 200;
  color: #ffffff;
  line-height: 50px;
  letter-spacing: 2px;
}

.player__control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  padding: 0 40px;
  background-color: #000000;
}

.player__box {
  position: relative;
}

.player__image {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.player__buttons {
  display: flex;
}

.player__play-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.player__icon {
  width: 30px;
  height: 30px;
  margin-right: 40px;
}
.player__icon:nth-child(5) {
  margin-right: 0;
}
.player__icon--speaker {
  margin-right: 20px;
}

.player__progress,
.player__volume {
  height: 8px;
  -webkit-appearance: none;
  background-color: #24809E;
}
.player__progress::-webkit-slider-thumb,
.player__volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}
.player__progress::-ms-track,
.player__volume::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.player__progress:focus,
.player__volume:focus {
  outline: none;
}

.player__progress {
  width: 820px;
  margin-right: 40px;
}

.player__volume {
  margin-right: 48px;
}

.tickets {
  background-color: #000000;
}

.tickets__title {
  padding-bottom: 36px;
  margin-bottom: 100px;
  border-bottom: 3px solid #710707;
}

.tickets__box {
  display: flex;
}

.tickets__image {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.tickets__col {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.tickets__col:first-child {
  margin-right: 60px;
}

.tickets__content {
  display: flex;
  justify-content: space-between;
}

.tickets__col-small {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.tickets__type, .tickets__amount {
  margin-bottom: 50px;
  font-size: 28px;
  font-weight: 700;
  color: #ffffff;
  line-height: 33px;
}

.tickets__amount {
  margin-bottom: 10px;
  margin-left: auto;
}

.tickets__radio {
  position: relative;
  display: block;
  margin-bottom: 49px;
  font-size: 22px;
  font-weight: 300;
  color: #ffffff;
  line-height: 26px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tickets__radio > input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.tickets__radio > span {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding-left: 40px;
}

.tickets__radio > span::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 17px;
  height: 17px;
  left: 0;
  flex-shrink: 0;
  flex-grow: 0;
  margin-right: 10px;
  background-image: url("./assets/img/tickets/ellipse.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 17px 17px;
}

.tickets__radio > input:checked + span::before {
  background-image: url("./assets/img/tickets/ellipse-checked.png");
}

.tickets__basic, .tickets__senior {
  margin-bottom: 6px;
  font-size: 22px;
  font-weight: 300;
  color: #ffffff;
  line-height: 26px;
}

.tickets__count {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  height: 50px;
  padding: 0 10px;
  margin-bottom: 50px;
  border: 4px solid #ffffff;
}
.tickets__count:last-child {
  margin-bottom: 100px;
}

.tickets__number {
  font-size: 22px;
  font-weight: 300;
  color: #ffffff;
  line-height: 26px;
  all: unset;
  text-align: center;
  padding-left: 18px;
}

.tickets__buttons {
  all: unset;
  cursor: pointer;
}
.tickets__buttons--minus {
  font-size: 44px;
}
.tickets__buttons--plus {
  font-size: 24px;
}

.tickets__price {
  margin-bottom: 50px;
  font-size: 28px;
  font-weight: 700;
  color: #ffffff;
  line-height: 33px;
  letter-spacing: 1.65px;
}

.tickets__button {
  padding: 10px 40px;
  margin-left: auto;
  font-size: 22px;
  font-weight: 300;
  color: #000000;
  line-height: 26px;
  letter-spacing: 2px;
  background-color: #ffffff;
  cursor: pointer;
}

.video__content {
  display: flex;
  margin-top: 40px;
}

.video__title {
  margin-right: 115px;
  color: #9d8665;
  white-space: nowrap;
}

.video__text {
  font-size: 22px;
  font-weight: 300;
  color: #000000;
  line-height: 38px;
}

.visiting__title {
  padding-bottom: 30px;
  margin-bottom: 103px;
  color: #9d8665;
  border-bottom: 3px solid #710707;
}

.visiting__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.visiting__item {
  margin-bottom: 78px;
}
.visiting__item:nth-child(4), .visiting__item:nth-child(5), .visiting__item:last-child {
  margin-bottom: 0;
}

.welcome {
  height: 750px;
  background-color: #030303;
  background-image: url("/museum/assets/img/welcome/welcome.jpg");
  background-size: 61%;
  background-position: right bottom;
  background-repeat: no-repeat;
}

.welcome__title {
  padding-top: 114px;
  margin-bottom: 26px;
}

.welcome__text {
  font-size: 28px;
  font-weight: 300;
  color: #ffffff;
  line-height: 33px;
  letter-spacing: 2px;
  margin-bottom: 76px;
}

.welcome__button {
  padding: 20px 40px;
  font-size: 22px;
  font-weight: 200;
  color: #ffffff;
  line-height: 26px;
  letter-spacing: 2px;
  background-color: #710707;
  border-radius: 10px;
}

.header {
  padding: 74px 0;
  background-color: #030303;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
