:root {
  --main-color:        #000000;
  --secondary-color:   #ffffff;
  --dial-color:        #f0f0f0;
  --gold-color:        #af9c55;
  --btn-background:    #000000;
  --silver-color:      #c0c0c0;
  --grey-color:        #898989;
}

html {
  box-sizing: border-box;
  font-family: 'EB Garamond', serif;
}

.clock-one.silver {
  background-image: url('./img/silver-black.png');
}

.clock-one.silver .hour::after{
  background-image: url('./img/hour-silver.png');
}

.clock-one.silver .center-point,
.clock-one.silver .second-gold {
  background-color: var(--grey-color);
}

.clock-one.silver .needle {
  border-color: var(--grey-color);
}

.clock-one.silver .minute-gold::after {
  border-bottom-color: var(--grey-color);
}

.clock-one.silver .second-gold::after {
  border-color: var(--grey-color);
}

.clock-two.green {
  background-image: url('./img/silver-green.png');
}

body {
  margin: 0;
  padding: 0;
  color: var(--main-color);
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

button {
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.wrapper {
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-image 0.7s ease-in-out 0s;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  width: 95%;
  height: 100vh;
  margin: 0 auto;
}

.clock-one,
.clock-two {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 900px;
  height: 900px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  transition: background-image 0.5s;
}

.clock-one {
  display: none;
  background-image: url('./img/gold-blue.png');
}

.clock-two {
  display: flex;
  background-image: url('./img/green-silver.png');
}

.clock-box {
  position: relative;
  display: flex;
  justify-content: center;
  width: 50%;
  height: 50%;
  border-radius: 50%;
}

.logo-box {
  position: absolute;
  top: 31%;
  font-size: 20px;
  color: var(--dial-color);
  text-transform: uppercase;
  text-align: center;
}

.logo-box_top {
  top: 25%;
}

.logo-symbol {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  background-image: url('./img/rolex-logo.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.logo-text {
  display: block;
  font-size: 10px;
}

.needle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: bottom center;
  transition-timing-function: ease-in;
  box-shadow: 2px 1px 5px 2px rgba(0,0,0, 0.7);
}

.center-point {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 26px;
  height: 26px;
  background-color: var(--gold-color);
  box-shadow: inset 0px 0px 0px 2px var(--dial-color);
  z-index: 4;
}

.center-point::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: var(--dial-color);
}

.center-point-silver {
  background-color: var(--dial-color);
  box-shadow: inset 0px 0px 0px 2px var(--silver-color);
}

.center-point-silver::after {
  background-color: var(--silver-color);
}

.second {
  width: 3px;
  transform: translate(-50%, -100%) rotate(20deg);
  z-index: 3;
}

.second::after {
  content: '';
  position: absolute;
}

.second-gold {
  height: 145px;
  background-color: var(--gold-color);
}

.second-gold::after {
  top: 33%;
  left: 50%;
  transform: translateX(-50%);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--dial-color);;
  border: 3px solid var(--gold-color);
}

.second-silver {
  height: 165px;
  background-color: var(--silver-color);
}

.second-silver::after {
  top: -6%;
  transform: translateX(-35%);
  width: 0; 
  height: 0;
  border-left: 7.5px solid transparent;
  border-right: 7.5px solid transparent;
  border-bottom: 22px solid var(--silver-color);
}

.minute {
  width: 7px;
  transform: translate(-50%, -100%) rotate(70deg);
  z-index: 2;
}

.minute::after {
  content: '';
  position: absolute;
  left: -57%;
  width: 0; 
  height: 0;
  border-left: 7.5px solid transparent;
  border-right: 7.5px solid transparent;
}

.minute-gold {
  height: 100px;
  background-color: var(--dial-color);
  border: 4px solid var(--gold-color);
  border-bottom: 17px solid var(--gold-color);
}

.minute-gold::after {
  top: -26%;
  border-bottom: 22px solid var(--gold-color);
}

.minute-silver {
  height: 130px;
  background: linear-gradient(
    to bottom,
    var(--main-color) 20%,
    var(--dial-color) 20%,
    var(--dial-color) 60%,
    var(--main-color) 20%
  );
  border: 4px solid var(--silver-color);
}

.minute-silver::after {
  top: -20%;
  border-bottom: 22px solid var(--silver-color);
}

.hour {
  transform: translate(-50%, -100%) rotate(180deg);
  z-index: 1;
}

.hour::after {
  content: '';
  position: absolute;
}

.hour-gold {
  width: 10px;
  height: 65px;
  background-color: var(--dial-color);;
  border: 2px solid var(--gold-color);
  border-bottom: 15px solid var(--gold-color);
}

.hour-gold::after {
  top: -36%;
  left: -17px;
  width: 43px;
  height: 57px;
  background-image: url('./img/hour-gold.png');
  background-position: center center;
  background-size: cover;
}

.hour-silver {
  width: 7px;
  height: 65px;
  border: 4px solid var(--silver-color);
  border-bottom: 17px solid var(--silver-color);
  background: linear-gradient(
    to bottom,
    var(--main-color) 20%,
    var(--dial-color) 20%,
    var(--dial-color) 60%,
    var(--main-color) 20%
  );
  transform: translate(-50%, -100%) rotate(180deg);
  z-index: 1;
}

.hour-silver::after {
  content: '';
  position: absolute;
  top: -40%;
  left: -57%;
  width: 0; 
  height: 0;
  border-left: 7.5px solid transparent;
  border-right: 7.5px solid transparent;
  border-bottom: 22px solid var(--silver-color);
}

.rect {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 46%;
  left: 71%;
  width: 46px;
  height: 34px;
  border-radius: 6px;
  border: none;
  box-shadow: inset 1px 1px 5px 1px var(--main-color);
  font-family: 'EB Garamond', serif;
  font-size: 30px;
  font-weight: 700;
  background-color: var(--dial-color);
}

.digital {
  position: absolute;
  top: 56%;
  font-family: 'EB Garamond', serif;
  font-weight: 700;
}

.digital-time, .digital-date {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 130px;
  height: 33px;
  background-color: var(--dial-color);
  border-radius: 6px;
  box-shadow: inset 1px 1px 5px 1px #000000;
}

.digital-time {
  margin-bottom: 2px;
  font-size: 22px;
}

.digital-date {
  font-size: 12px;
}

.toggle {
  width: 200px;
  height: 50px;
  font-size: 18px;
  color: var(--secondary-color);
  border-radius: 4px;
  cursor: pointer;
  z-index: 1;
  transition: box-shadow 0.5s, color 0.5s;
}

.toggle:hover {
  box-shadow: 3px 3px 9px -2px var(--main-color);
}

.toggle:active {
  outline: none;
  transform: scale(0.99);
}

.toggle-one {
  background: linear-gradient(0deg, #000000 0%, #898989 100%);
}

.toggle-two {
  background: linear-gradient(0deg, #c0c0c0 0%, #00532c 100%);
}

.slider-btn-box {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.slider-btn {
  width: 80px;
  height: 80px;
  cursor: pointer;
  border: none;
  padding: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border-top: 10px solid var(--secondary-color);
  border-right: 10px solid var(--secondary-color);
  transition: transform 0.2s;
}

.slider-btn.prev {
  transform: rotate(-135deg);
}

.slider-btn.next {
  transform: rotate(45deg);
}

.slider-btn.prev:hover {
  transform: scale(1.1) rotate(-135deg);
}

.slider-btn.next:hover {
  transform: scale(1.1) rotate(45deg);
}

.slider-btn.prev:active {
  transform: scale(1) rotate(-135deg);
}

.slider-btn.next:active {
  transform: scale(1) rotate(45deg);
}

.change-clock {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
  transition: filter 0.3s;
  filter: brightness(90%);
}

.change-clock:hover {
  filter: brightness(110%);
}

.clock-btn-box {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 40px 0;
  z-index: 1;
}

.round {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  font-size: 40px;
  color: var(--secondary-color);
}

.round-hour {
  top: 39%;
  left: 22.2%;
}

.round-minute {
  top: 39%;
  left: 61%;
}

.round-second {
  top: 61%;
  left: 42%;
}

.progress-ring {
  position: absolute;
  margin-right: 2px;
  margin-top: 1px;
  fill: transparent;
  stroke-width: 15;
  stroke: rgba(192,192,192, 0.8);
}

/* .progress-ring_second {
  stroke: rgba(250,226,50, 0.4);
}
.progress-ring_minute {
  stroke: rgba(114,87,250, 0.4);
}
.progress-ring_hour {
  stroke: rgba(250,67,37, 0.4);
} */

.progress-circle {
  transform-origin: center;
  transform: rotate(-90deg);
}

.time-zones-box {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 40px 0;
}

.time-zones {
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 20px;
  width: 150px;
  height: 250px;
  margin: 0 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--main-color);
  font-size: 30px;
  font-weight: 700;
  box-shadow: 2px 2px 7px 5px rgba(0,0,0,0.8);
  filter: brightness(90%);
  transition: filter 0.3s;
}

.time-moscow {
  background-image: url('./img/time-zones/moscow.jpg');
}

.time-new-york {
  background-image: url('./img/time-zones/new-york.jpg');
}

.time-london {
  background-image: url('./img/time-zones/london.jpg');
}

.time-tokyo {
  background-image: url('./img/time-zones/tokyo.jpg');
}

.time-zones:hover {
  filter: brightness(110%);
}

.time-zones.no-active:hover {
  filter: brightness(60%);
}

.time-zones.active {
  filter: brightness(100%);
  outline: 3px solid black;
}

.time-zones.no-active {
  filter: brightness(40%);
}

.desc {
  position: absolute;
  top: 15%;
  left: 5%;
  width: 390px;
  text-align: center;
  transform: rotate(-45deg);
  font-size: 46px;
  color: #00a900;
  text-shadow: #000000 2px 2px 3px;
  letter-spacing: 1px;
  transition: opacity 1s;
}