.footer {
  padding: 100px 0;
  background-color: $bg-dark-color;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__nav {
  width: 500px;
}

.footer .nav__list {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
}

.footer .nav__item {
  margin-right: 0;
}