:root {
  --main-bg-color:        #fff;
  --main-color:           #000;
  --default-color:        #fff;
  --avatar-border-color:  #00c5ab;
  --header-color:         #353c4b;
  --tag-color:            #eaf0fd;
  --light-grey-color:     #7a7a7a;
  --light-color:          #f8f8f8;
  --hover-color:          #1f65c0;
  --transition: 0.2s;
}

/*===== GENERAL =====*/

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;;
  line-height: 1.42;
  background-color: var(--main-bg-color);
  color: var(--main-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

p {
  margin: 0;
}

.container {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
  box-shadow: 10px 4px 14px var(--light-grey-color), -10px -4px 14px var(--light-grey-color);
}

/*===== BASE =====*/

.avatar {
  flex: 1;
  height: 360px;
  margin-right: 30px;
  border-radius: 20px;
  border: 2px solid var(--avatar-border-color);
  overflow: hidden;
}

.avatar__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;;
}

.title {
  margin-bottom: 50px;
  font-size: 28px;
  font-weight: 500;
}

.section {
  padding: 30px;
  border-bottom: 2px solid var(--avatar-border-color);
}

/*===== HEADER =====*/

.header {
  color: var(--default-color);
}

.header__content {
  display: flex;
  padding: 30px;
  background-color: var(--header-color);
}

.header__column {
  flex: 3;
}

.header__name{
  font-size: 48px;
  font-weight: 500;
}

.header__profession {
  display: block;
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 500;
  color: var(--avatar-border-color);
}

.header__content p:first-of-type {
  margin-bottom: 26px;
}

.header__contacts {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 20px 0;
  padding: 30px;
  background-color: var(--main-color);
}

.contacts__item{
  position: relative;
  padding-left: 30px;
}

.contacts__link {
  position: relative;
  text-decoration: underline;
  transition: var(--transition);
}

.contacts__link:hover {
  color: var(--hover-color);
}

.contacts__item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 20px;
  height: 20px;
  background-size: cover;
}

.contacts__item--mail::before {
  background-image: url('../images/icon/contacts/mail.svg');
}
.contacts__item--phone::before {
  background-image: url('../images/icon/contacts/phone.svg');
}
.contacts__item--linkedin::before {
  background-image: url('../images/icon/contacts/linkedin.svg');
}
.contacts__item--geo::before {
  background-image: url('../images/icon/contacts/geo.svg');
}
.contacts__item--telegram::before {
  background-image: url('../images/icon/contacts/telegram.svg');
}
.contacts__item--github::before {
  background-image: url('../images/icon/contacts/github.svg');
}

/*===== SKILLS ======*/

.skills__title {
  margin-bottom: 10px;
  font-size: 22px;
}

.skills__tech,
.skills__tool,
.skills__soft,
.skills__languages {
  display: flex;
  margin-bottom: 26px;
}

.skills__soft .tag {
  padding: 4px 16px;
}

.tag{
  position: relative;
  padding: 4px 16px 4px 34px;
  margin-right: 10px;
  background-color: var(--tag-color);
  border-radius: 10px;
}

.tag::before {
  content: '';
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 20px;
  height: 20px;
  background-size: cover;
}

.tag--html::before {
  background-image: url('../images/icon/skills/html.svg');
}
.tag--css::before {
  background-image: url('../images/icon/skills/css.svg');
}
.tag--js::before {
  background-image: url('../images/icon/skills/js.svg');
}
.tag--pug::before {
  background-image: url('../images/icon/skills/pug.svg');
}
.tag--sass::before {
  background-image: url('../images/icon/skills/sass.svg');
}
.tag--vue::before {
  background-image: url('../images/icon/skills/vue.svg');
}
.tag--jquery::before {
  background-image: url('../images/icon/skills/jquery.svg');
}
.tag--gulp::before {
  background-image: url('../images/icon/skills/gulp.svg');
}
.tag--webpack::before {
  background-image: url('../images/icon/skills/webpack.svg');
}
.tag--git::before {
  background-image: url('../images/icon/skills/git.svg');
}
.tag--github::before {
  background-image: url('../images/icon/skills/github.svg');
}
.tag--npm::before {
  background-image: url('../images/icon/skills/npm.svg');
}
.tag--yarn::before {
  background-image: url('../images/icon/skills/yarn.svg');
}
.tag--photoshop::before {
  background-image: url('../images/icon/skills/photoshop.svg');
}
.tag--figma::before {
  background-image: url('../images/icon/skills/figma.svg');
}
.tag--vscode::before {
  background-image: url('../images/icon/skills/vscode.svg');
}
.tag--rus::before {
  background-image: url('../images/icon/skills/rus.ico');
}
.tag--eng::before {
  background-image: url('../images/icon/skills/eng.ico');
}

/*===== PROJECTS =====*/

.projects__text {
  margin-top: 20px;
}

.projects__link {
  color: var(--hover-color);
}

.projects__link:hover {
  text-decoration: underline;
}

.table__header,
.table__rower {
  display: grid; 
  grid-template-columns: 1fr 1fr 3fr 4fr; 
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #000;
  border-bottom: 0;
}

.table__rower:last-child {
  border-bottom: 1px solid #000;
}

.table__rower:nth-child(odd) {
  background-color: var(--light-color);
}

.table__title {
  padding: 5px;
  font-weight: 700;
  border: 1px solid var(--main-color);
}

.table__link,
.table__text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  padding: 10px;
}

.table__link {
  border-right: 1px solid var(--main-color);
  text-decoration: underline;
  transition: var(--transition);
}

.table__link:hover {
  color: var(--hover-color);
}

.table__text {
  border-left: 1px solid var(--main-color);
}

.table__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.table__item {
  margin: 4px 6px;
  padding: 4px 12px;
  background-color: var(--tag-color);
  border-radius: 8px;
}

.table__item:last-child {
  margin-right: 0;
}

/*===== EXPERIENCE =====*/

.experience__box {
  position: relative;
  padding-left: 26px;
  color: var(--light-grey-color);
}

.experience__box::before {
  content: '';
  position: absolute;
  height: 50px;
  width: 4px;
  left: 0;
  background-color: var(--light-grey-color);
}

.experience__position {
  font-size: 18px;
  font-style: italic;
}

.experience__desc {
  margin-bottom: 30px;
  font-size: 18px;
  font-style: italic;
}

.experience__link {
  text-decoration: underline;
  transition: var(--transition);
}

.experience__link:hover {
  color: var(--hover-color);
}

.experience__list {
  padding-left: 30px;
  margin-top: 16px;
  margin-bottom: 46px;
}

.experience__list:last-child {
  margin-bottom: 0;
}

.experience__item {
  margin-bottom: 14px;
  list-style-type: disc;
}

.experience__item:last-child {
  margin-bottom: 0;
}

/*===== EDUCATION =====*/

.education__box {
  position: relative;
  padding-left: 26px;
}

.education__box::before {
  content: '';
  position: absolute;
  height: 90px;
  width: 4px;
  left: 0;
  background-color: var(--light-grey-color);
}

.education__link {
  display: inline-block;
  margin-bottom: 20px;
  text-decoration: underline;
  transition: var(--transition);
}

.education__link:hover {
  color: var(--hover-color);
}

.education__specialization {
  font-size: 18px;
  font-weight: 700;
  color: var(--light-grey-color);
}

.education__desc {
  font-size: 18px;
  font-style: italic;
  color: var(--light-grey-color);
}

/*===== COURSES =====*/

.courses__list {
  padding-left: 30px;
}

.courses__item {
  margin-bottom: 24px;
  list-style-type: disc;
}

.courses__item:last-child {
  margin-bottom: 0;
}

.courses__link {
  display: inline-block;
  margin-bottom: 6px;
  font-weight: 700;
  text-decoration: underline;
  transition: var(--transition);
}

.courses__link:hover {
  color: var(--hover-color);
}

.courses__link--light {
  font-weight: 400;
}

.courses__desc {
  font-size: 18px;
  font-style: italic;
}

/*===== FOOTER ======*/

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer__guthub {
  display: block;
  width: 60px;
  height: 60px;
}

.footer__rsschool {
  display: flex;
  align-items: center;
  width: 80px;
  height: 80px;
}

.footer__guthub,
.footer__rsschool {
  transition: var(--transition);
}

.footer__guthub:hover,
.footer__rsschool:hover {
  transform: scale(1.1);
}

.footer__year {
  font-size: 24px;
  font-weight: 700;
}