@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');

:root {
  --main-bg-color:        #fff;
  --main-color:           #000;
  --default-color:        #fff;
  --avatar-border-color:  #00c5ab;
  --header-color:         #353c4b;
  --tag-color:            #eaf0fd;
  --light-color:          #f8f8f8;
  --hover-volor:          #1f65c0;
  --transition: 0.2s;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;;
  background-color: var(--main-bg-color);
  color: var(--main-color);
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

p {
  margin: 0;
}

.container {
margin: 0 auto;
max-width: 1200px;
width: 95%;
}

/*===== HEADER =====*/

.header {
  color: var(--default-color);
}

.header__content {
  background-color: var(--header-color);
  padding: 30px;
}

.header__row {
  display: flex;
  margin-bottom: 40px;
}

.header__name{
  font-size: 48px;
  font-weight: 500;
}

.header__profession {
  font-size: 28px;
  font-weight: 500;
  color: var(--avatar-border-color);
}

.header__content p:first-of-type {
  margin-bottom: 26px;
}

.header__contacts {
  background-color: var(--main-color);
  padding: 30px;
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 20px 0; 
}

.contacts__item{
  position: relative;
  padding-left: 30px;
}

.contacts__item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 20px;
  height: 20px;
  background-size: cover;
}

.contacts__item--mail::before {
  background-image: url('../images/icon/contacts/mail.svg');
}
.contacts__item--phone::before {
  background-image: url('../images/icon/contacts/phone.svg');
}
.contacts__item--linkedin::before {
  background-image: url('../images/icon/contacts/linkedin.svg');
}
.contacts__item--geo::before {
  background-image: url('../images/icon/contacts/geo.svg');
}
.contacts__item--telegram::before {
  background-image: url('../images/icon/contacts/telegram.svg');
}
.contacts__item--github::before {
  background-image: url('../images/icon/contacts/github.svg');
}

.avatar {
  width: 160px;
  height: 160px;
  border-radius: 20px;
  border: 2px solid var(--avatar-border-color);
  overflow: hidden;
  margin-right: 30px;
}

.avatar__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;;
}

/*===== SKILLS ======*/

.section {
  border-bottom: 2px solid var(--avatar-border-color);
  padding: 30px;
}

.skills div {
  display: flex;
  margin-bottom: 40px;
}

.skills__soft .tag {
  padding: 4px 16px;
}

.title {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 20px;
}

.tag{
  position: relative;
  padding: 4px 16px 4px 30px;
  font-size: 18px;
  background-color: var(--tag-color);
  border-radius: 10px;
  margin-right: 10px;
}

.tag::before {
  content: '';
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 20px;
  height: 20px;
  background-size: cover;
}

.tag--html::before {
  background-image: url('../images/icon/skills/html.svg');
}
.tag--css::before {
  background-image: url('../images/icon/skills/css.svg');
}
.tag--js::before {
  background-image: url('../images/icon/skills/js.svg');
}
.tag--pug::before {
  background-image: url('../images/icon/skills/pug.svg');
}
.tag--sass::before {
  background-image: url('../images/icon/skills/sass.svg');
}
.tag--vue::before {
  background-image: url('../images/icon/skills/vue.svg');
}
.tag--jquery::before {
  background-image: url('../images/icon/skills/jquery.svg');
}
.tag--gulp::before {
  background-image: url('../images/icon/skills/gulp.svg');
}
.tag--webpack::before {
  background-image: url('../images/icon/skills/webpack.svg');
}
.tag--git::before {
  background-image: url('../images/icon/skills/git.svg');
}
.tag--github::before {
  background-image: url('../images/icon/skills/github.svg');
}
.tag--npm::before {
  background-image: url('../images/icon/skills/npm.svg');
}
.tag--yarn::before {
  background-image: url('../images/icon/skills/yarn.svg');
}
.tag--photoshop::before {
  background-image: url('../images/icon/skills/photoshop.svg');
}
.tag--figma::before {
  background-image: url('../images/icon/skills/figma.svg');
}
.tag--vscode::before {
  background-image: url('../images/icon/skills/vscode.svg');
}
.tag--rus::before {
  background-image: url('../images/icon/skills/rus.ico');
}
.tag--eng::before {
  background-image: url('../images/icon/skills/eng.ico');
}

/*===== PROJECTS =====*/

.projects__title {
  margin-bottom: 50px;
}

.projects__text {
  margin-top: 20px;
}

.projects__link {
  text-decoration: underline;
  transition: var(--transition);
}

.projects__link:hover {
  color: var(--hover-volor);
}

.table__header, .table__rower {
  display: grid; 
  grid-template-columns: 1fr 1fr 3fr 4fr; 
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #000;
  border-bottom: 0;
}

.table__rower:last-child {
  border-bottom: 1px solid #000;
}

.table__rower:nth-child(odd) {
  background-color: var(--light-color);
}

.table__title {
  font-weight: 700;
  border: 1px solid var(--main-color);
  padding: 5px;
}

.table__link, .table__text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  padding: 10px;
}

.table__link {
  border-right: 1px solid var(--main-color);
  text-decoration: underline;
  transition: var(--transition);
}

.table__link:hover {
  color: var(--hover-volor);
}

.table__text {
  border-left: 1px solid var(--main-color);
}

.table__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.table__item {
  margin: 4px 6px;
  background-color: var(--tag-color);
  border-radius: 8px;
  padding: 4px 12px;
}

.table__item:last-child {
  margin-right: 0;
}