// Font

$mainFont: 'Roboto', Arial, sans-serif;

// Size

$mainFontSize                : 16px;
$mainFontWeight              : 400;
$mainLineHeight              : 1.42;

// Main color

$main-color                  : #ffffff;
$default-color               : #000000;
$bg-dark-color               : #030303;
$dark-red-color              : #710707;
$font-gold-color             : #9d8665;
$font-gold-ticket-color      : #caaa7d;
$range-color                 : #710707;
$border-color                : #666666;
$player-icon-color           : #B3B3B3;
$player-hover-color          : #989898;
$player-progress-color       : #c4c4c4;
$slider-btn-active-color     : #D2B183;
$slider-dots-color           : #999999;
$slider-dots-active-color    : #333333;
$form-border-color           : #A4A4A3;
$form-main-color             : #030303;
$option-hover-color          : #E7E7E7;
$option-checked-color        : #dedede;
$form-overview-color         : #272727;
$form-tour-color             : #740C11;
$card-font-color             : #BCBCBC;
$card-text-color             : #161615;
$card-border-color           : #A4A4A3;
$card-back-color             : #939393;
$form-btn-color              : #710707;