// Font

$mainFont: 'Roboto', Arial, sans-serif;

// Size

$mainFontSize            : 16px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.42;

// Main color

$main-color              : #ffffff;
$default-color           : #000000;
$bg-dark-color           : #030303;
$dark-red-color          : #710707;
$font-gold-color         : #9d8665;
$font-gold-ticket-color  : #caaa7d;
$range-color             : #24809E;
$border-color            : #666666;
$player-icon-color       : #B3B3B3;
$player-hover-color      : #989898;
$player-progress-color   : #c4c4c4;
$slider-btn-active-color : #D2B183;